<% provide(:title, "Home") %>
<h1>Sample App</h1>
<p>
  This is the home page for the
  <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>
<p>
    This page also shows a slight refactor from the Ruby on Rails tutorial linked above.
    The page title uses a rails Provide function to yield the name. In the <a href="about">about page</a>, it does not;
    it is statically typed (well, they both are really...)
</p>