/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


ul {
    display: inline-flex;
    list-style: none;
}

ul li {
    display: block;
    margin-right: 10px;
}

.list {
    display: inline-flex;
}

#footer {
    position: fixed;
    bottom: 0;
    padding: 5px;
    width: 100%;
    background-color: #070707;
    background-color: rgba(0,0,0,0.8);
    border-top: 2px solid;
    border-color: #1f1f1f;
    border-color: rgba(255,255,255,0.1);
    color: #fff;
    text-align: center;
    font-size: 8pt;
    z-index: 1000;
}