<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<div id="footer">
  <div class="list">
    <h2>Static</h2>
    <ul>
      <a href="/static_pages/home"><li>Home</li></a>
      <a href="/static_pages/help"><li>Help</li></a>
      <a href="/static_pages/about"><li>About</li></a>
    </ul>
  </div>
  
  <div class="list">
    <h2>Dynamic</h2>
    <ul>
      <a href="/users"><li>Users</li></a>
      <a href="/microposts"><li>Microposts</li></a>
    </ul>
  </div>
</div>
</body>
</html>
